<!DOCTYPE html
    PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Clave wifi UDES</title>
    <!--[if (gte mso 9)|(IE)]>
    <style type="text/css">
        table {border-collapse: collapse !important !important;}
    </style>
    <![endif]-->

</head>

<body style="Margin:0;padding-top:0;padding-bottom:0;padding-right:0;padding-left:0;min-width:100%;background-color:#e0e0e0;">
    <center class="wrapper" style="width:100%;table-layout:fixed;-webkit-text-size-adjust:100%;-ms-text-size-adjust:100%;">
        <div class="webkit" style="max-width:600px; background-color: white">

            <!--[if (gte mso 9)|(IE)]>
<table width="600" align="center" style="border-spacing:0;font-family:sans-serif;color:#333333;" >
<tr>
<td style="padding-top:0;padding-bottom:0;padding-right:0;padding-left:0;" >
<![endif]-->
            <table class="outer" align="center" style="border-spacing:0;font-family:sans-serif;color:#333333;">
                <tr>
                    <td class="full-width-image" style="padding-top:0;padding-bottom:0;padding-right:0;padding-left:0;">
                        <img src="https://74df62c2-a-7ded2190-s-sites.googlegroups.com/a/udes.edu.mx/repoimgudes/miselanea/headerInformes.png?attachauth=ANoY7crfPSewAstEiXB6wZZE0We9IJsTHWvS86ai2rcs9ispE7ac-Gd6zcv3XFhXV1R5BQczxL7uiouBXdTxkfXzbp8_N0RUHNLyUhkKdW2JKTrjk0-X67Y4BHf95H_fzmC6Glb7jo7HvaoMW7Qa6TE9ZySDkxt7Zw5UiBk2s9AJbt5zwTjacXt5x_IPswDTn9618OPV98nw-PW9K1ksCCy3Btjy6CigY9T-gpuney2JIuNp34lcYOk%3D&attredirects=0"
                            alt="" style="border-width:0;width:100%;height:auto;" />
                    </td>
                </tr>
            </table>
            <!--[if (gte mso 9)|(IE)]>
<table width="600" align="center" style="border-spacing:0;font-family:sans-serif;color:#333333;" >
<tr>
<td style="padding-top:0;padding-bottom:0;padding-right:0;padding-left:0;" >
<![endif]-->
            <!--[if (gte mso 9)|(IE)]>
<table width="600" align="center" style="border-spacing:0;font-family:sans-serif;color:#333333;" >
<tr>
<td style="padding-top:0;padding-bottom:0;padding-right:0;padding-left:0;" >
<![endif]-->

            <table class="outer" align="center" style="border-spacing:0;font-family:sans-serif;">

                <tr>
                    <td style="padding-top:0;padding-bottom:0;padding-right:0;padding-left:0;">
                        <div style="margin-bottom: 30px; padding: 20px;">

                            ##msg##

                        </div>
                    </td>
                </tr>

            </table>

            <!--[if (gte mso 9)|(IE)]>
</td>
</tr>
</table>
<![endif]-->

            <!--[if (gte mso 9)|(IE)]>
<table width="600 " align="center " style="border-spacing:0;font-family:sans-serif;color:#333333; " >
<tr>
<td style="padding-top:0;padding-bottom:0;padding-right:0;padding-left:0; " >
<![endif]-->
            <table class="outer " align="center " style="border-spacing:0;font-family:sans-serif;color:#333333; ">
                <tr>
                    <td class="full-width-image " style="padding-top:0;padding-bottom:0;padding-right:0;padding-left:0; ">
                        <img src="https://74df62c2-a-7ded2190-s-sites.googlegroups.com/a/udes.edu.mx/repoimgudes/miselanea/footer.png?attachauth=ANoY7cqszCCbOu6YbYxHEzuOj-IcajW-RTpXQZFBi-eXl2DQQp7CrZX9kaBM8W1d8M9EjufklsaCQqe2fFUcwGXRbqPC4ud0gmkT5o9x4kytoTIAeKQr2DqIuoVIzJbUAORgmuCE-xnJHJJPlQFfVXSguOy136AivhUwfxd7Ct4wKDKcvi2quzg5fefEjFQtDRlL9KMOd2NygmWw9nKPoy58sirz6aQ5jw%3D%3D&attredirects=0 "
                            alt=" " style="border-width:0;width:100%;height:auto; " />
                    </td>
                </tr>
            </table>
            <!--[if (gte mso 9)|(IE)]>
<table width="600 " align="center " style="border-spacing:0;font-family:sans-serif;color:#333333; " >
<tr>
<td style="padding-top:0;padding-bottom:0;padding-right:0;padding-left:0; " >
<![endif]-->
        </div>
    </center>
</body>

</html>